body{
	background-color:#333333;
}
header
{
	position: absolute; 
	left:50%;
	transform: translateX(-50%);
	z-index:1;
	
}
.ism-slider {
	z-index:0;
}
header img{
    opacity: 0.4;
    filter: alpha(opacity=55); /* For IE8 and earlier */
}